<div *ngIf="editMode">
    <select class="border border-gray-100 text-gray-900"
    (change)="onDimensionChange()"
        [(ngModel)]="selectedDimension">
        <option value=""
            [ngValue]="null"
            disabled>Select dimension</option>
        <option *ngFor="let dimension of dimensions$ | async"
            [ngValue]="dimension">{{dimension}}</option>
    </select>

    <select class="border border-gray-100 ml-4 text-gray-900"
    (change)="onMeasureChange()"
    [(ngModel)]="selectedMeasure">
    <option value=""
        [ngValue]="null"
        disabled>Select measure</option>
    <option *ngFor="let measure of measures$ | async"
        [ngValue]="measure">{{measure}}</option>
</select>
</div>
<div echarts
    [options]="options"
    class="demo-chart"></div>
