<div class="max-w-5xl mx-auto px-4 py-10">
  <div class="flex justify-end">
    <button *ngIf="!dbConnected"  class="px-2 py-1 rounded text-white bg-green-500 hover:bg-green-400"
      (click)="connectDatabase()">New Connection</button>
    <button *ngIf="dbConnected" class="px-2 py-1 rounded text-white bg-red-500 hover:bg-red-400"
      (click)="closeConnection()">Disconnect</button>
  </div>
  <div *ngIf="dbConnected">
    <div *ngFor="let c of config">
      <chart [config]="c"></chart>
      <div class="w-full h-px bg-gray-700 my-10"></div>
    </div>
    <div class="flex justify-center">
      <button class="ml-2 px-2 py-1 rounded text-white bg-green-500 hover:bg-green-400"
        (click)="newChart()">New Chart</button>
    </div>
  </div>


</div>