<!-- <p>
  login works!
</p>
<button (click)="authenticate()">Auth</button> -->
<div class="mx-auto max-w-lg p-4">

  <form [formGroup]="form">

    <!-- start username -->
    <div class="">
      <p class="text-6F7782 text-xs leading-none mb-2">Username</p>
      <input
        class="focus:outline-none w-full rounded border border-gray-400 p-2 text-sm text-gray-900 leading-relaxed focus:border-blue-500"
        formControlName="username"
        type="text"
        placeholder="Username"
        [ngClass]="{'border-red-500': f.username.errors && f.username.touched}" />
      <ng-container>
        <span *ngIf="f.username.errors && f.username.touched"
          class="text-xs text-red-500">Username is required.</span>
      </ng-container>
    </div>
    <!-- end username -->

    <!-- start password -->
    <div class="">
      <p class="text-6F7782 text-xs leading-none mb-2">Password</p>
      <input
        class="focus:outline-none w-full rounded border border-gray-400 p-2 text-sm text-gray-900 leading-relaxed focus:border-blue-500"
        formControlName="password"
        type="password"
        placeholder="password"
        [ngClass]="{'border-red-500': f.password.errors && f.password.touched}" />
      <ng-container>
        <span *ngIf="f.password.errors && f.password.touched"
          class="text-xs text-red-500">Password is required.</span>
      </ng-container>
    </div>
    <!-- end password -->

    <button id="btnMovieCreate"
      type="button"
      class="bg-blue-500 px-2 py-1 rounded text-xs text-white mt-4"
      (click)="authenticate(form)">
      Login
    </button>


  </form>

</div>